<launch>

<rosparam file="$(find ayspot_a1_description)/launch/controller.yaml" command="load"/>
<node args="RF_HIP_rotate_position_controller RF_THIGH_rotate_position_controller RF_SHANK_rotate_position_controller LF_HIP_rotate_position_controller LF_THIGH_rotate_position_controller LF_SHANK_rotate_position_controller RH_HIP_rotate_position_controller RH_THIGH_rotate_position_controller RH_SHANK_rotate_position_controller LH_HIP_rotate_position_controller LH_THIGH_rotate_position_controller LH_SHANK_rotate_position_controller joint_state_controller " name="controller_spawner" ns="ayspot_a1" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/ayspot_a1/joint_states"/>
</node>

</launch>